:root {
    font-family: "Open Sans";
    font-size: 1.2em;
}


/* ┌─╮┌─╴╭─╴┌─╴╶┬╴
   ├┬╯├─╴╰─╮├─╴ │
   ╵ ╰╰─╴╶─╯╰─╴ ╵  */
/* FIXME clean unuse elements */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike,
strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    font-size: 1rem;
	font: inherit;
    box-sizing: border-box;
}
a {
    outline:none;
}
ul {
    list-style: none;
}
li::before {
    content: "— ";
}
strong {
    font-weight: bold;
}


/* ┌─╮╭─┐╭─╴┌─╴
   │╶┤├─┤╰─╮├─╴
   └─╯╵ ╵╶─╯╰─╴ */
#slider {
    height: 10px;
    background-color: black;
    position: fixed;
    cursor: row-resize;
}
#slider::before {
    content: '< >';
    position: absolute;
    text-align: center;
    font-family: "Space Mono";
    font-size: 0.8rem;
    line-height: 1rem;
    height: 1rem;
    color: white;
    background-color: black;
    width: 2rem;
    transform: rotate(90deg);
    -ms-transform: rotate(90deg); /* IE 9 */
    -webkit-transform: rotate(90deg); /* Safari */
    left: calc(50% - 1rem);
    top: -5px;
}

main {
    width: 80%;
}

#source {
    font-family: "Space Mono";
    font-size: 0.6rem;
    /* background-color: #dffffd; */
    /* background-color: #ffffaa; */
    background-color: #ffdaff;
    display: none;
}
#trad {
    width: 80%;
    height: 100%;
    background-color: white;
    /* opacity: 0.5; */
}

section {
    width: 75%;
    margin-left:10%;
    margin-top: 8rem;
}
#source section {
    background-color: white;
    position: relative;
}
#source section::after {
    position: absolute;
    font-size: 0.6rem;
    content: "section";
    font-weight: bold;
    background-color: white;
    width: 3.5rem;
    line-height: 1rem;
    text-align: center;
    right: -3.5rem;
    top: 0;
}

@media (orientation: landscape) and (min-width: 1025px) {
    #trad, main, #slider {
        width: 80%;
    }
}

@media (orientation: portrait), (max-width: 1024px) {
    #trad, main, #slider {
        width: 100%;
    }
}


/* ╭╮╮┌─╴╭╮╷╷ ╷
   │││├─╴││││ │
   ╵╵╵╰─╴╵╰╯╰─╯ */
nav {
    position: fixed;
    background-color: black;
    color: white;
}
nav div {
    padding: 1.5rem;
}

#date {
    font-family: "Space Mono";
    color: black;
    background-color: #8400ff;
}
#date span {
    display: inline-block;
    border-bottom: 4px solid black;
}

nav > p {
    position: fixed;
}
#lang a {
    font-style: italic;
    display: inline-block;
    background-color: white;
    color: black !important;
    width: 2rem;
    text-align: center;
    text-decoration: none;
}

#menu > ul > li:not(:first-child) {
    margin-top: 1rem;
}
#menu > ul > li::before {
    content: "> ";
}
li ul {
    padding-left: 1rem;
}

nav a:link, nav a:visited {
    color: white;
}
nav a:hover, nav a:active {
    color: #8400ff;
    outline: none;
}

#read {
    display:inline-block;
    border:1px dashed #8400ff;
    text-align: center;
}

#read a{
    text-decoration:none;
}


@media (orientation: landscape) and (min-width: 1025px) {
    nav {
        top: 0;
        right: 0;
        height: 100vh;
        width: 20%;
    }
    nav div:last-of-type {
        padding-top: 0;
    }
    #date {
        font-size: 2.4vw;
    }
    #menu-button {
        display: none;
    }

    nav > p {
        right: 1.5rem;
        bottom: 1.5rem;
    }

    #read {
    right:1.5rem;
    bottom:3.75rem;
    padding:0.1em;
    }
}

@media (orientation: portrait), (max-width: 1024px) {
    nav {
        z-index: 1;
        width: 100%;
    }
    nav div {
        padding: 1rem;
    }
    #menu-button {
        position: absolute;
        padding: 0;
        right: 0.6rem;
        top: 0.3rem;
    }
    #menu-button a {
        color: black;
        font-weight: bold;
        text-decoration: underline;
        font-size: 0.8rem;
    }
    #menu {
        display: none;
        padding-bottom: 3rem;
    }

    nav > p {
        bottom: 0;
        right: 0
    }
    #read {
    left:0;
    bottom:0;
    width:6.75rem;
    /* padding:0.1em; */
    }
    #read a {
    color:black;
    background-color:#ffdaff;
    }

}


/* ╭╮╮╭─┐╶┬╴╭╮╷   ╶┬╴╶┬╴╶┬╴╷  ┌─╴
   │││├─┤ │ │││╶─╴ │  │  │ │  ├─╴
   ╵╵╵╵ ╵╶┴╴╵╰╯    ╵ ╶┴╴ ╵ ╰─╴╰─╴ */
header div {
    overflow: hidden;
}
.t1 {
    font-weight: 600;
}
#source .t1 {
    font-weight:400;
    background-color: #8400ff;
    color: white;
}

.t2 {
    font-style: italic;
}
#source .t2 {
    background-color: #b6ffaa;
}

@media (orientation: landscape) {
    header {
        margin-left: 3%;
        height: 100vh;
    }

    .t1 {
        font-size: 8vw;
        line-height:16vh;
    }
    #source .t1 {
        font-size: 8vw;
        line-height:16vh;
    }

    .t2 {
        font-size: 5vw;
        line-height:12vh;
    }
    #source .t2 {
        font-size: 4vw;
        line-height:12vh;
    }
}

@media (orientation: portrait) {
    /* header {
        margin-left: 0;
        height: 100vw;
        width: 80vh;
        position: relative;
        top: 20vh;
        left: 100vw;

        transform: rotate(90deg);
        -ms-transform: rotate(90deg);/
        -webkit-transform: rotate(90deg);
        transform-origin: top left;

        margin-bottom: 50rem;
    } */
    header {
        margin-left: 0;
        height: 100vw;
        width: 85vh;
        position: relative;
        right: 85vh;
        top: 10vh;

        transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform-origin: top right;

        margin-bottom: 50rem;
    }
    .t1 {
        font-size: 8vh;
        line-height:16vw;
    }
    .t2 {
        font-size: 5vh;
        line-height:12vw;
    }
    #source .t2 {
        font-size: 4vh;
        line-height:12vw;
    }
}


/* ╷ ╷   ╶┬╴╶┬╴╶┬╴╷  ┌─╴╭─╴
   ├─┤╶─╴ │  │  │ │  ├─╴╰─╮
   ╵ ╵    ╵ ╶┴╴ ╵ ╰─╴╰─╴╶─╯ */
h2 {
    position: relative;
    margin-top:8rem;
    margin-bottom:0;
    font-size:3.75rem;
    font-weight:600;
}
h2#date_limite {
    color:white;
    text-stroke: 2px black;
    -webkit-text-stroke: 2px black;
    margin-top:0;
    margin-bottom:4rem;
    font-size:3.75rem;
}
#source h2 {
    background-color: #ffda00;
    font-size:3.25rem;
}
#source h2#date_limite {
    color:#ffda00;
    font-size:3.25rem;
}
#source h2::before {
    content: "h2";
    background-color: #ffda00;
}

#source h2#date_limite::before {
    content:inherit;
}


section h3:first-of-type {
    margin-top:8rem;
}

h3 {
    margin-top:6rem;
    margin-bottom:2rem;
    font-size:2.25rem;
    font-weight:600;
    /* background-color: red; */
}
#source h3 {
    position: relative;
    background-color: #ffda00;
    font-size: 2rem;
}
#source h3::before {
    content: "h3";
    background-color: #ffda00;
}

h4 {
    margin-bottom:1rem;
    font-size:1.5rem;
    font-weight:600;
}
h4::before {
    content: "• ";
}
#source h4 {
    position: relative;
    background-color: #b6ffaa;
}
#source h4::before {
    content: "h4";
    background-color: #b6ffaa;
}
#source h4::after {
    content: "before::content: \"•\"";
    background-color: #ffffaa;
    color: black;
}
h4:not(:nth-of-type(5)) {
    margin-top:3rem;
}
h3.marginBotStop, h4.marginBotStop{
    margin-bottom:0;
}

h5 {
    margin-top:2rem;
    font-weight:600;
}
article h5:first-child {
    margin-top:0;
}
#source h5 {
    font-size: 1rem;
    position: relative;
    background-color: #b6ffaa;
}
#source h5::before {
    content: "h5";
    background-color: #b6ffaa;
}


/* ┌─╮╭─┐┌─╮╭─┐╭─╮┌─╮╭─┐┌─╮╷ ╷╭─╴
   ├─╯├─┤├┬╯├─┤│╶╮├┬╯├─┤├─╯├─┤╰─╮
   ╵  ╵ ╵╵ ╰╵ ╵╰─╯╵ ╰╵ ╵╵  ╵ ╵╶─╯ */
main p {
    padding: 0;
    margin-bottom: 1rem;
    text-align: justify;
}

#source p {
    position: relative;
    font-family: 'Space Mono';
    /* border: 1px solid #6dffff; */
    /* background-color: #dadaff; */
    border: 1px solid #8400ff;
    /* padding: 0.3rem; */
}
#source p::before {
    content: "p";
    background-color: #8400ff;
    color: white;
    top: -1px;
    padding:0;
}
#source p::after {
    content: 'font="normal 1rem Open Sans"';
    background-color: black;
    color: white;
}
#source a {
    color:inherit;
    text-decoration:none;
    pointer-events: none;
    /* cursor:text; */
}
#source a::before {
    content: "a";
    /* background-color: #6dffff; */
    /* color: black; */
    /* background-color: #3366BB; */
    /* color: white; */
    /* background-color: #3366BB; */
    /* color: white; */
    background-color:#ff0000;
    color:white;
}

#articles {
    margin-top:3rem;
    display:flex;
    justify-content: space-between;
}

article {
    width:47%;
}
article p {
    text-align: left;
}
article u {
    text-decoration: underline;
    text-decoration-style: dashed;
    /* text-decoration-style: dotted; */
}
#source u::before {
    content: "u";
    text-decoration:none;
    /* background-color: #6dffff; */
    /* color: black; */
    /* background-color: #3366BB; */
    /* color: white; */
    /* background-color: #3366BB; */
    /* color: white; */
    background-color:#ff0000;
    color:white;
}

section ul {
    margin-bottom:1rem;
}
#source ul {
    position:relative;
    border: 1px solid #ff0000;
}
#source ul::before {
    content: "ul";
    background-color: #ff0000;
    color: white;
    top: -1px;
}

#source li::before {
    content: "li";
    background-color:#ff0000;
    color:white;
}

acronym {
    text-decoration: none;
}

i {
    font-style: italic;
}
#source i::before {
    content: "i";
    font-style: normal;
    background-color:#ff0000;
    color:white;
}

mark{
    background-color: black;
    color:white;
}
#source mark {
    background-color: inherit;
    color:inherit;
}
#source mark::before {
    font-size:1.5rem !important;
    content: "m";
    font-style: normal;
    background-color:#ff0000;
    color:white;
}
#source q::before {
    content: "q";
    background-color:#ff0000;
    color:white;
}
sup{
    /* line-height:1; */
    font-size:0.8rem;
    vertical-align:super;
}
#source sup {
    font-size:0.6rem;
    vertical-align:inherit;
}
#source sup:before {
    content: "sup";
    background-color:#ff0000;
    color:white;
}


/* ╭─╴╭─╮╷ ╷┌─╮╭─╴┌─╴   ┌─╮╭─╴┌─╴╷ ╷┌─╮╭─╮   ┌─╴╷  ┌─╴╭╮╮╭─╴
   ╰─╮│ ││ │├┬╯│  ├─╴   ├─╯╰─╮├─╴│ ││ ││ │╶─╴├─╴│  ├─╴│││╰─╮
   ╶─╯╰─╯╰─╯╵ ╰╰─╴╰─╴   ╵  ╶─╯╰─╴╰─╯└─╯╰─╯   ╰─╴╰─╴╰─╴╵╵╵╶─╯ */
#source section *::before {
    font-weight: bold;
    text-align: center;
    line-height: 1rem;
    font-size: 0.6rem;
}
#source section > *::before,
#source section article > *::before {
    position: absolute;
    width: 2.5rem;
    left: -2.5rem;
}

#source p > *::before {
    padding:0 0.5rem;
}

#source section > *::after,
#source section article > *::after {
    position: absolute;
    font-size: 0.6rem;
    font-weight: normal;
    bottom: 0;
    right: 0;
    padding: 0 0.5rem;
    /* height: 1rem; */
    line-height: 1rem;
}


/* ┌─╴╭─╮╭╮╷╶┬╴╭─╴
   ├─╴│ ││││ │ ╰─╮
   ╵  ╰─╯╵╰╯ ╵ ╶─╯ */
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-LightItalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-BoldItalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}
@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-BoldItalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
