:root {
    font-family: "Open Sans";
    font-size: 1em;
}

html, body, main, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, img, s, strong, b, u, i, center, ol, ul, li,
article, aside, footer, header, nav, section {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 1rem;
	/* font: inherit; */
    box-sizing: border-box;
}
body {
	line-height: 1;
}
ul {
	list-style: none;
}
li::before {
    content: "— ";
}

#slider {
    height: 10px;
    width: 80vw;
    background-color: black;
    position: fixed;
    bottom: 250px;
    cursor: move;
}
#slider::before {
    content: '< >';
    text-align: center;
    color: white;
    position: absolute;
    width: 2rem;
    background-color: black;
    transform: rotate(90deg);
    left: calc(40vw - 1rem);
    top: calc(-0.5rem + 2.5px);
}

/* FIXME */
main {
    margin-bottom: 10rem;
}

/* MENU */
nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 20vw;

    background-color: black;
    color: white;
    padding: 1rem;
}
nav div p {
    font-size: 3rem;
}
nav ul li:not(:first-child) {
    padding-left: 1rem;
    margin-top: 0.4rem;
}
nav > p {
    margin: 3rem 0;
}

#source {
    font-size: 0.8rem;
    background-color: #dffffd;
}
#trad {
    height: calc(100% - 250px);
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
}

main, section {
    width: calc(80vw - 2rem);
    box-sizing: border-box;
}

/* TITLE ZONE */
.t1 {
    margin: 0;
    font-size: 8.25rem;
    font-family:"Open Sans";
    font-weight: 600;
    line-height:1;
}
#source .t1 {
    color:white;
    font-family: "Space Mono";
    /* text-stroke:2px black;
    -webkit-text-stroke:2px black; */
    background-color: #8400ff;

}
.t2 {
    margin: 0;
    font-size: 5.25rem;
    font-family:"Open Sans";
    font-style: italic;
    line-height:1.5;
    /*letter-spacing:2px;*/
}
#source .t2 {
    text-stroke:1px solid black;
    -webkit-text-stroke:1px solid black;
}

/* CONTENT BLOCK */
.main {
    width: 90%;
    margin-top:30px;
    margin-left:45px;
}
#source .main {
    background-color: white;
}
#source .main::before {
    content: '5%';
    position: fixed;
    left: calc(2.5% - 0.5rem);
    top: 50%;
    transform: rotate(90deg);
}
#source .main::after {
    content: '5%';
    position: fixed;
    right: calc(2.5% - 0.5rem);
    top: 50%;
    transform: rotate(-90deg);
}


p {
    max-width: 65rem;
    padding: 0;
    margin-bottom: 1rem;
}

#source p {
    box-sizing: border-box;
    position: relative;
    font-family: 'Space Mono';
    color: black;
    border: 1px solid #8400ff;
    padding: 0.2rem;
}
#source p::before {
    /* font-size: 0.6rem; */
    left: -2rem;
    width: 1rem;
    height: calc(1.2rem + 1px);
    position: absolute;
    top: -1px;
    content: 'p';
    background-color: #8400ff;
    color: white;
    padding: 0 0.5rem;
}
#source p::after {
    font-size: 0.6rem;

    content: 'class="normal"';
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: black;
    color: white;
    padding: 0 0.5rem;
}

#source .margin {
    background-color: #ffff00;
    height: 1rem;
    max-width: 55rem;

}
#source .margin::before {
    font-size: 0.6rem;
    content: "margin-bottom: 1rem";
    padding-left: 0.5rem;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Light-webfont.woff") format("woff");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-LightItalic-webfont.woff") format("woff");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Semibold-webfont.woff") format("woff");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-SemiboldItalic-webfont.woff") format("woff");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "Open Sans";
    src: url("fonts/OpenSans-BoldItalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Regular-webfont.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Italic-webfont.woff") format("woff");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-Bold-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "Space Mono";
    src: url("fonts/SpaceMono-BoldItalic-webfont.woff") format("woff");
    font-weight: 700;
    font-style: italic;
}
